{namespace neos=TYPO3\Neos\ViewHelpers}
{namespace media=TYPO3\Media\ViewHelpers}
<figure{f:if(condition: imageClassName, then: ' class="{imageClassName}"')}>
	<f:if condition="{image}">
        <f:if condition="{link}">
            <f:then>
                <a href="{link}"><media:image asset="{image}" alt="{alternativeText}" title="{title}" maximumWidth="{maximumWidth}" maximumHeight="{maximumHeight}" allowCropping="{allowCropping
}" allowUpScaling="{allowUpScaling}" /></a>
            </f:then>
            <f:else>
                <media:image asset="{image}" alt="{alternativeText}" title="{title}" maximumWidth="{maximumWidth}" maximumHeight="{maximumHeight}" allowCropping="{allowCropping
}" allowUpScaling="{allowUpScaling}" />
            </f:else>
        </f:if>
	</f:if>
	<f:if condition="{hasCaption}">
		<figcaption>
		    {caption}
		</figcaption>
	</f:if>
</figure>